<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 >
        <ion-card class="block">
          <p>Record Demo</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <button ion-button primary (click)="stopRecording()" *ngIf="recording"><ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Recording</button>
          <button ion-button primary (click)="startRecording()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Recording</button>
        </ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item>
        <p>Play file</p>
        <button ion-button clear item-end large (click)="play()"><ion-icon name="play"></ion-icon></button>
      </ion-item>
      <ion-item>
        <p>Position</p>
       {{position}}
      </ion-item>
      <ion-item>
        <p>view Duration</p>
        <button ion-button clear item-start large (click)="getDuration()"><ion-icon name="time"></ion-icon>&nbsp;&nbsp;Get Duration</button>
      </ion-item>
      <ion-item>
        <p>Duration:</p>
        {{duration}}
      </ion-item>

      <ion-item>
        <p>list items in Directory</p>
        <button ion-button clear item-start large (click)="listDirItems()"><ion-icon name="list"></ion-icon>&nbsp;&nbsp;List Directory items</button>
      </ion-item>
      <ion-item>
        <p>Items:</p>
        {{items | json}}
      </ion-item>

      <ion-item>
        <p>play sound file</p>
        <button ion-button clear item-start large (click)="playM4A()"><ion-icon name="list"></ion-icon>Play sounds</button>
      </ion-item>
    </ion-list>

</ion-content>
